<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body bgcolor="yellow">
<center>
	<h3>Welcome to Online Shopping Page Login Valid...</h3>
	<h4>Yoo Have Logged in with ADMIN Role</h4>
	<h4>You are About to Perform Transactions On Products Data</h4>
	
	<a th:href="@{/products/list}"> To Go To Products Page Click Here</a>
	<a th:href="@{/greet/hello}">Go Back To Welcome Page</a>
	</center>
	</body>
</html>